<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ATND Archive</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style type="text/css">
    .col-json {
        width: 200px;
    }
    </style>
</head>
<body>
<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <h1 class="title">
                <a class="navbar-item title" href="/">
                    ATND Archive
                </a>
            </h1>
        </div>
    </div>
</nav>

<section class="section">
    <div class="container">
        <div class="content">
            <p>
                <a href="https://atnd.org/" target="_blank">ATND</a>に登録されていたイベントデータのアーカイブです。
            </p>

            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th class="col-id">ID</th>
                    <th class="col-title">タイトル</th>
                    <th class="col-day">開催日</th>
                    <th class="col-json">JSON</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th class="col-id">ID</th>
                    <th class="col-title">タイトル</th>
                    <th class="col-day">開催日</th>
                    <th class="col-json">JSON</th>
                </tr>
                </tfoot>
                <tbody>
                <% items.forEach((item)=>{ %>
                <tr>
                    <td><%= item.event_id %></td>
                    <td><a href="event/<%= item.event_id %>.html"><%= item.title %></a></td>
                    <td><%= item.started_at %></td>
                    <td>
                        <a href="json/events/<%= item.event_id %>.json" download="event.json" class="button is-small is-info">
                            <span class="icon is-small"><i class="fas fa-file-download"></i></span>
                            <span>イベント</span>
                        </a>
                        <a href="json/users/<%= item.event_id %>.json" download="user.json" class="button is-small is-info">
                            <span class="icon is-small"><i class="fas fa-file-download"></i></span>
                            <span>ユーザー</span>
                        </a>
                    </td>
                </tr>
                <% }) %>
                </tbody>
            </table>

        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <a href="https://github.com/ko31/atnd-archive" target="_blank">ATND Archive</a> by <a
                    href="https://twitter.com/ko31">@ko31</a>
            </p>
        </div>
    </div>
</footer>
</body>
</html>
