<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ATNDに登録されていたイベント情報のアーカイブ">
    <title>ATND Archive</title>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@ko31">
    <meta name="twitter:title" content="ATND Archive">
    <meta name="twitter:description" content="ATNDに登録されていたイベント情報のアーカイブ">
    <meta name="twitter:image" content="https://ko31.github.io/atnd-archive/images/ogp.png">
    <meta property="og:site_name" content="ATND Archive" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="ATND Archive" />
    <meta property="og:description" content="ATNDに登録されていたイベント情報のアーカイブ">
    <meta property="og:image" content="https://ko31.github.io/atnd-archive/images/ogp.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style type="text/css">
    .col-date, .col-json {
        white-space: nowrap;
    }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1736292-62"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-1736292-62');
    </script>
</head>
<body>
<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <h1 class="title">
                <a class="navbar-item title" href="/">
                    ATND Archive
                </a>
            </h1>
        </div>
    </div>
</nav>

<section class="section">
    <div class="container">
        <div class="content">
            <p>
                <a href="https://atnd.org/" target="_blank">ATND</a>に登録されていたイベントデータのアーカイブです。
            </p>

            <div class="tags">
              <span class="tag"><% if (page != 1) { %><a href="index.html"><% } %>〜10000<% if (page != 1) { %></a><% } %></span>
              <span class="tag"><% if (page != 2) { %><a href="index2.html"><% } %>10001〜20000<% if (page != 2) { %></a><% } %></span>
              <span class="tag"><% if (page != 3) { %><a href="index3.html"><% } %>20001〜30000<% if (page != 3) { %></a><% } %></span>
              <span class="tag"><% if (page != 4) { %><a href="index4.html"><% } %>30001〜40000<% if (page != 4) { %></a><% } %></span>
              <span class="tag"><% if (page != 5) { %><a href="index5.html"><% } %>40001〜50000<% if (page != 5) { %></a><% } %></span>
              <span class="tag"><% if (page != 6) { %><a href="index6.html"><% } %>50001〜60000<% if (page != 6) { %></a><% } %></span>
              <span class="tag"><% if (page != 7) { %><a href="index7.html"><% } %>60001〜70000<% if (page != 7) { %></a><% } %></span>
              <span class="tag"><% if (page != 8) { %><a href="index8.html"><% } %>70001〜80000<% if (page != 8) { %></a><% } %></span>
              <span class="tag"><% if (page != 9) { %><a href="index9.html"><% } %>80001〜90000<% if (page != 9) { %></a><% } %></span>
              <span class="tag"><% if (page != 10) { %><a href="index10.html"><% } %>90001〜100000<% if (page != 10) { %></a><% } %></span>
              <span class="tag"><% if (page != 11) { %><a href="index11.html"><% } %>10001〜110000<% if (page != 11) { %></a><% } %></span>
              <span class="tag"><% if (page != 12) { %><a href="index12.html"><% } %>11001〜<% if (page != 12) { %></a><% } %></span>
            </div>

            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>タイトル</th>
                    <th>開催日</th>
                    <th>JSON</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>ID</th>
                    <th>タイトル</th>
                    <th>開催日</th>
                    <th>JSON</th>
                </tr>
                </tfoot>
                <tbody>
                <% items.forEach((item)=>{ %>
                <tr>
                    <td class="col-id"><%= item.event_id %></td>
                    <td class="col-title"><a href="event/<%= item.event_id %>.html"><%= item.title %></a></td>
                    <td class="col-date"><%= item.started_at %></td>
                    <td class="col-json">
                        <a href="json/events/<%= item.event_id %>.json" download="event.json" class="button is-small is-info">
                            <span class="icon is-small"><i class="fas fa-file-download"></i></span>
                            <span>イベント</span>
                        </a>
                        <a href="json/users/<%= item.event_id %>.json" download="user.json" class="button is-small is-info">
                            <span class="icon is-small"><i class="fas fa-file-download"></i></span>
                            <span>ユーザー</span>
                        </a>
                    </td>
                </tr>
                <% }) %>
                </tbody>
            </table>

        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <a href="https://github.com/ko31/atnd-archive" target="_blank">ATND Archive</a> by <a
                    href="https://twitter.com/ko31">@ko31</a>
            </p>
        </div>
    </div>
</footer>
</body>
</html>
